
.header {
  /* background-color: rgb(58, 25, 25); */
  align-items: center;
  font: inherit;
}
.container {
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
    position: relative;
}
.logo {
  position: static;
  width: 70px;
  height: 70px;
}
.menu {
  margin-left: 68px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu-itemLOGO {
  font-size: 25px;
  font-weight: 900;
}
.menu-item {
  font-size: 19px;
  margin: 0 12px;
  height: inherit;
  display: inherit;
  align-items: inherit;
  position: relative;
}
/* Режим работы */
.ticket-buy {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #006455;
  width: 192px;
  height: 160px;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
body {
  /* background-image: url("/img/фон.jpeg"); */
  /* background-repeat: no-repeat;  */
  background-size: 100%; 
  margin:0;
}
h2 {
  font-family: monospace;
  color: #606060;
}
/* ширина верхушки */
nav {
  width: 100%;
  margin: 0 auto 30px;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  font-size: 25px; 
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}

a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.one ul {
  background: rgb(65, 132, 231);
  /* padding: 0 250px; */
  line-height: 25px;
}
.one ul a {
  color: #1df842;
}
.one .submenu {
  display: none;
  background: rgb(65, 132, 231);
}


/* Кнопки в изменении */
.editBtn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: .05em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #61e455;
  background: white;
  border: 1px solid;
  cursor: pointer;
  transition: .3s linear;
}
.editBtn:hover {
  background: #848884;
}

* {
  box-sizing: border-box;
}

/* Окно */
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: rgb(65, 132, 231);
  border-radius: 30px;
}
.form-inner {
  padding: 50px;
}
/* ПОЛЯ ВВОДА */
.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
}
/* ЦВЕТ КНОПКИ ОТПРАВИТЬ */
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #8df673;
  border-bottom: 4px solid #4da72a;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.form-inner textarea {
  resize: none;
}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1df842;
}
.footer {
  margin-top: 90%;
  height: 300px;
  background-color: rgb(67, 110, 150);
}

/* .square {
  border-top: 5px solid red;
  border-color: violet;
} */


/* СТРАНИЦА ТАРИФОВ */
* {box-sizing: border-box;}
/* body {
  margin: 0 0 0 20px;
} */
.wrap {
  margin: 0 0 0 20px;
  width: 750px;
  margin: 50px auto 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
} 
.box {
  width: 340px;
  float: left;
  margin-right: 20px;
}
.top {
  background: #36454A;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
p {
  margin: 0px 0px 10px;
}
.title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.price {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  text-align: center;
}
span {
    font-size: 16px;
    color: #6eaca7;
    text-transform: uppercase;
}
.button {
  text-decoration: none;
  color: #6eaca7;
  font-size: 18px;
  border: 1px solid #6eaca7;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.5;
  text-align: center;
  border-radius: 4px;
  transition: 0.4s linear;
}
.button:hover {
  color: white;
  border-color: white;
}
.bottom {
  padding: 20px 20px 40px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
/* ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
} */
li {
  border-bottom: 1px solid #e3e3e3;
  color: #6eaca7;
  font-size: 16px;
  line-height: 40px;
}


/* Окошки изменения животных */
* {box-sizing: border-box;}
.caption-shadow {
  width: 400px;
  height: 200px;
  margin: 50px auto 0;
  position: relative;
  border: 5px solid #FAAB1B;
}
.caption-shadow img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-shadow figcaption {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #FAAB1B;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -10px 20px -5px hsla(0, 0%, 0%, .4);
}
.animal {
  display: flex;
  flex-wrap: wrap;
} 
.animalMenu {
  margin-right:  20px;
}
.btnAnimal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: white;
    cursor: pointer;
    transition: .3s linear;
  }
  .btnAnimal button {
    margin-top: 30px;
    /* border-bottom: 4px solid #4da72a; */
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: white;
    cursor: pointer;
    transition: .3s linear;
  }
  .btnAnimal button a{
    margin-top: 30px;
    /* border-bottom: 4px solid #4da72a; */
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: white;
    cursor: pointer;
    transition: .3s linear;
  }
  .editBtn:hover {
    background: #848884;
  }
}
