.header {
  align-items: center;
  font: inherit;
  background-color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  align-items: inherit;
  position: relative;
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
    position: relative;
}

.row1 {
  height: auto;
  width: 350px;  
}

.png {
  height: 250px;
  width: auto;
  margin: 11%;
}

img {
  padding: 0;
  margin: 0;
  height: 200px;
  width: auto;
}

.container1 {

  height: 550px;
  width: 400px;
  margin: 0;
  box-shadow:  0px 5px 10px 2px rgba(3, 126, 58, 0.815);
  background-color: transparent;
  border-radius: 5%;
  margin-left: 50px;
  margin-top: 5px;
}
.desc1 {
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik Beastly', cursive;
  font-size: 25px;
  color: white;
}

.desc2,
.desc3 {
  font-family: 'Bowlby One SC', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Ruslan Display', cursive;
font-size: 20px;
color: white;
}
.org {
  height: auto;
}
.desc3{
  font-size: 40px;
}

.all {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
    position: relative;
}

/* .logo {
>>>>>>> 038284ec866518c3160a22a431c019f3009725d1
  position: static;
  width: 70px;
  height: 70px;
} */

.menu {
  margin-left: 68px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu-itemLOGO {
  font-size: 25px;
  font-weight: 900;
  color: rgb #ffffff;
}
.menu-item {
  font-size: 19px;
  margin: 0 12px;
  height: inherit;
  display: inherit;
  align-items: inherit;
  position: relative;
}

.menu-item a:hover{
  color: rgba(3, 126, 58, 0.815);
}
/* Режим работы */
.ticket-buy {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 55em;
  background-color: rgba(3, 126, 58, 0.815);
  border-radius: 0% 0% 10% 10%;
  width: 192px;
  height: 160px;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}




body {
  /* background-image: url("/img/фон.jpeg"); */
  /* background-repeat: no-repeat;  */
  background-size: 100%; 
  background-color: rgb(23, 24, 63);
  margin:0;
  font-family:'Bowlby One SC', cursive;
}
h2 {
  font-family: monospace;
  color: #606060;
}
/* ширина верхушки */
nav {
  width: 100%;
  margin: 0 auto 30px;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  font-size: 25px; 
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}

.mainAhref {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.one ul {
  background: rgb(65, 132, 231);
  /* padding: 0 250px; */
  line-height: 25px;
}
.one ul a {
  color: #1df842;
}
.one .submenu {
  display: none;
  background: rgb(65, 132, 231);
}


/* Кнопки в изменении */
.editBtn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: .05em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #61e455;
  background: white;
  border: 1px solid;
  cursor: pointer;
  transition: .3s linear;
}
.editBtn:hover {
  background: #848884;
}

* {
  box-sizing: border-box;
}

/* Окно autorization */
.decor {
  position: relative;
  margin: 5em auto 10px;
  max-width: 400px;
  background: rgba(3, 126, 58, 0.815);
  border-radius: 30px;
}
.form-inner {
  padding: 50px;
}
/* ПОЛЯ ВВОДА */
.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: rgb(231, 231, 231);
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}
/* ЦВЕТ КНОПКИ ОТПРАВИТЬ */
.form-inner input[type="submit"] {
  margin-top: 20px;
  background: #04206e;
  border-bottom: 5px solid #230261;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
/* .form-inner textarea {
  resize: none;
} */
.form-inner h3 {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(67, 110, 150);
}


/* .square {
  border-top: 5px solid red;
  border-color: violet;
} */


/* СТРАНИЦА ТАРИФОВ */
* {box-sizing: border-box;}
/* body {
  margin: 0 0 0 20px;
} */
.wrap {
  margin: 0 0 0 20px;
  width: 750px;
  margin: 50px auto 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
} 
.box {
  width: 340px;
  float: left;
  margin-right: 20px;
}
.top {
  background: #0c5f7a;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
p {
  margin: 0px 0px 10px;
}
.title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.title, .work-hours .work-hours{
  font-family: 'ALS Mendeleev';
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: normal;
}
.price {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  text-align: center;
}
span {
    font-size: 16px;
    color: #6eaca7;
    text-transform: uppercase;
}
.button {
  text-decoration: none;
  color: #6eaca7;
  font-size: 18px;
  border: 1px solid #6eaca7;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.5;
  text-align: center;
  border-radius: 4px;
  transition: 0.4s linear;
}
.button:hover {
  color: white;
  border-color: white;
}
.bottom {
  padding: 20px 20px 40px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
/* ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
} */
li {
  border-bottom: 1px solid #e3e3e3;
  color: #6eaca7;
  font-size: 16px;
  line-height: 40px;
}


/* Окошки изменения животных */
{box-sizing: border-box;}
/* .caption-shadow {
  width: 400px;
  height: 200px;
  margin: 50px auto 0;
  position: relative;
  border: 5px solid #FAAB1B;
}
.caption-shadow img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-shadow figcaption {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #FAAB1B;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -10px 20px -5px hsla(0, 0%, 0%, .4);
} */
.animal {
  display: flex;
  flex-wrap: wrap;
} 
.animalMenu {
  margin-right:  20px;
}
