<h2>Список животных нашего зоопарка</h2>
<ul>
{{#each animals}}
  <li>
    <p>Здесь должна быть галерея с фотографиями</p>
<p>Название:{{name}}</p>
<p>Описание:{{description}}</p>
  </li>
{{/each}}
</ul>
