<center>

    <form class="decor" id='login' name='login' method="post" action="/login">
<div class="form-inner">
  <h3>Войти как администратор</h3>
        {{!-- <label for="email">Email</label> --}}
        <input id='email' type="email" name='email' placeholder="email">
        {{!-- <label for='password'>Пароль</label> --}}
        <input id='password' type="password" name='password' placeholder="password">
        {{!-- <button type="submit">Войти</button> --}}
        <input type="submit" value="Отправить">
</div>
    </form>

</center>
