<div>

</div>
<div>
  <div>
      <label>
        Введите имя пользователя:<br>
        <input class="input" id="login" type='text' name='login' />
      </label>
  </div>
  <div class="alert alert-info">
    <label>
      Введите email:<br>
      <input class="input" id="email" type='email' name='email' />
    </label>
  </div>
  <div class="alert alert-info">
    <label>
      Введите пароль:<br>
      <input class="input" id="password" type='password' name='password' />
    </label>
  </div>
  <div class="alert alert-info">
    <label>
      Подтвердите пароль:<br>
      <input class="input" id="passwordRep" type='password' name='passwordRep' />
    </label>
  </div>
  <button class="btn first"  type="submit">Зарегистрироваться</button>
</div>
