<div class="contacttext">
  <h3 align="center">Как нас найти</h3>
  <h4 align="center">г. Урюпинск улица Гагарина дом 29</h4>
</div>
<div id="map" class = "mapyandex" style="width: 600px; height: 400px"></div>     
<script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=29e41a2e-f56f-4e91-aaf3-3f38e402c56f" type="text/javascript"></script>
<script defer src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script defer src='/js/map.client.js'></script>
