<div class="form1">
  <h4 class="desc2" style="font-size: 35px;">Форма изменения информации животного</h4>
  <form id="editanimal" enctype="multipart/form-data">
    <div>
      <label class="desc2">
        Наименование животного:<br>
        <input class="input" id="name" type='text' name='name'/>
      </label>
    </div>
    <div>
      <label class="desc2">
        Описание:<br>
        <input class="input" id="description" type='text' name='description'/>
      </label>
    </div>
    <div>
      <label class="desc2">
        Загрузить фотографию:<br>
        <input type='file' name='img'/>
      </label>
    </div>
    <button type="submit" class="desc2 btnAnimalAdd">Изменить</button>
  </form>  
</div>
<script defer src="/js/editAnimal.client.js"></script>
