{{!-- <center>
  <div class="welcome">
<h3>ПЕРВЫЙ МЕЖГАЛАКТИЧЕСКИЙ ЗООПАРК</h3>
</div>
</center> --}}
<p id="start">Давным давно в далёком далёком кабинете...</p>
<h1>ПЕРВЫЙ<br>МЕЖГАЛАК<br>ТИЧЕСКИЙ<br>ЗООПАРК</h1>

<div id="titles"><div id="titlecontent">

	<p class="center">ЭПИЗОД II<br>НОВАЯ НАДЕЖДА ДЛЯ ЭКСПРЕССА"</p>
	
	<p>Это период войны бэкэнда и фрэнтэнда.</p>
	
<p>Неспокойные времена настали для Галактического буткемпа. Борьба за веб-разработку стало причиной раздоров. В стремлении добиться результата Верховный канцлер ОЛЕГ ЛАПОЧКА поручил трём джедаям - хранителям мира и справедливости в Галактике прибыть в межгалактический зоопарк урегулировать конфликт. </p>

{{!-- <p>Перед кино-любителей, начать разглагольствовать, я понимаю, Звездные Войны не было
сначала использовать ползет 3D титров, но немногие из вас будет помнить Flash
Гордон серии или в 1936 году, можно Уэллс' "Things to Come".</p>

<p>Также, упомянув о "Звездных Войн", все поймут, что я имею в виду. И я буду получать несколько тысяч посещений.</p>

<p>прокрутка названий хорошо работать в Chrome, Safari и Firefox. Опера
не осуществлять 3D-преобразования, но текст будет прокручиваться. Т.Е. пользователи
получать чистую страницу. Обидно, но IE10 должны его поддержать.</p>

<p>Так как же это работает? Ну, это довольно просто. У нас есть внешний
абсолютное DIV (#titles), который поворачивается по оси Х, используя
зрения, чтобы дать впечатление глубины. То же DIV также имеет
:после псевдо-элемент, который применяет линейный градиент, поэтому текст
кажется, гаснет.</p>

<p>Внутри, у нас есть еще один абсолютным позиционированием DIV, который содержит
текст (#titlecontent). Сверху устанавливается на 100%, чтобы обеспечить это начинается
off-screen, а затем использует CSS3 анимации, чтобы переместить его вверх с течением времени. Нет
JavaScript не требуется.</p>

<p>Вам, вероятно, потребуется для регулировки движения, объема и сроков
в зависимости от количества текста, который вы хотите показать. 3D-глубина может
также изменениям в #заголовков декларации.</p>

<p>Весь код, содержащийся в этом один HTML-файл...</p> --}}

</div></div>
