<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Урюпинский зоопарк</title>
    <script defer src='/js/auth.js'></script>
    <script defer src='/js/reg.js'></script>
    <script defer src='/js/changeanimal.client.js'></script>
    <script defer src='/js/index.js'></script>
    <script defer src='/js/editTariff.js'></script>
    <script defer src='/js/cart.client.js'></script>
    <link rel="stylesheet" href="/style/indexStyle.css">
    {{!-- <title>ЗООПАРК</title> --}}

</head>
<body>
  {{#if isAdmin}}
  <div class="header">
    <ul class="topmenu">
      <li>Урюпинский ЗООпарк</li>
<li><a href="/changeAnimal">Изменение животных</a></li>
<li><a href="/editTariff">Изменение тарифов</a></li>
<li><a href="/logout">Выход</a></li>
</ul>

  {{else}}
  <div class="header">
    <ul class="topmenu">
      <div class="container">
        <div class="row">
          <div class="menu">
            <div class="menu-itemLOGO"><a href="/">УРЮПИНСКИЙ<br>ЗООПАРК</a></div>
            <div class="menu-item"><a href="/animal">Животные</a></div>
            <div class="menu-item"><a href="/tariff">Тарифы</a></div>

            <div class="menu-item"><a href="/cart">Билетов: {{count}}</a></div>
          </div>
          <div class="ticket-buy">
            <p class="title">Ждём Вас:</p>
            <p class="work-hours">09:00 - 17:00</p>
            <p class="work-hours-cashier">Кассы открыты до 16:00</p>
          </div>
        </div>
      </div>
    </ul>
  </div>  

  {{/if}}
    {{{body}}}
</body>
  <div class="square"></div>
  <footer class="footer">
  <button id="loginButton" type="button">Вход для администратора</button>
  </footer>
</html>
