<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script defer src='/js/auth.js'></script>
    <script defer src='/js/reg.js'></script>
    <script defer src='/js/changeanimal.client.js'></script>
    <script defer src='/js/index.js'></script>
    <script defer src='/js/editTariff.js'></script>

    <link rel="stylesheet" href="/style/indexStyle.css">
    <title>ЗООПАРК</title>

</head>
<body>
  {{#if isAdmin}}
  <nav class="menu">
    <ul class="topmenu">
<li><a href="/editAnimal">Изменение животных</a></li>
<li><a href="/editTariff">Изменение тарифов</a></li>
<li><a href="/reg">Добавить администратора</a></li>
<li><a href="/logout">Выход</a></li>
</ul>
  </nav>
  {{else}}
  <nav class="one">
    <ul class="topmenu">
<li><a href="/animal">Животные</a></li>
<li><a href="/tariff">Тарифы</a></li>
<button id="loginButton" type="button">Вход для администратора</button>
<li><a href="/">Домой</a></li>
</ul>
  </nav>
  {{/if}}
    {{{body}}}
</body>
</html>
